# EditorConfig: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.properties]
charset = iso-8895-1

[*.bat]
end_of_line = crlf

# 4 space indentation
[*.{java,json,py,js}]
indent_style = space
indent_size = 4

# 2 space indentation
[*.{groovy,gradle,html}]
indent_style = space
indent_size = 2
